@import 'bootstrap';

@mixin adjust-image-size{
    //force square size in portrait/landscape images
    left: -70%;
    top: -50%;
    width: 300%;
}
.row-diamond{
    margin-top: 25.5%;
    [class*=' col-']{
        background-color: #ccc;
        transform: rotate(45deg);
        overflow: hidden;
        padding: 0;
        figure{
            margin: 100%;
            img{
                height: auto;
                position: absolute;
                transform: rotate(-45deg);
                @include adjust-image-size();
            }
            figcaption{
                display: none;
            }
        }
    }
    .col-xs-6 {
        width: 34.5%;
        margin: -16% 7.7% 7.7% 7.7%;
    }
    .col-xs-6:nth-child(3n){
        margin-left: 33%;
    }
}

@media screen and (min-width: $screen-sm-min) {
    .row-diamond{
        margin-top: 18%;
        .col-sm-4 {
            width: 23%;
            margin: -11% 5% 5% 5%;
        }
        .col-xs-6:nth-child(3n){
            margin-left: 5%;
        }
        .col-sm-4:nth-child(5n + 4){
            margin-left: 21.5%;
        }
    }
}

@media screen and (min-width : $screen-md) {
    .row-diamond{
        margin-top: 14%;
        .col-md-3 {
            width: 17%;
            margin: -8.5% 4% 4% 4%;
        }
        .col-xs-6:nth-child(3n), .col-sm-4:nth-child(5n + 4){
            margin-left: 4%;
        }
        .col-md-3:nth-child(7n + 5){
            margin-left: 16.5%;
        }
    }
}

@media only screen and (min-width : $screen-lg) {
    .row-diamond{
        margin-top: 10%;
        .col-lg-2 {
            width: 11.6%;
            margin: -5.5% 2.5% 2.5% 2.5%;
        }
        .col-xs-6:nth-child(3n), .col-sm-4:nth-child(5n + 4), .col-md-3:nth-child(7n + 5){
            margin-left: 2.5%;
        }
        .col-lg-2:nth-child(11n + 7){
            margin-left: 10.75%;
        }
    }
}